include README.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include scrapy_cookies/VERSION
recursive-include docs *
prune docs/build
recursive-include tests *
global-exclude __pycache__ *.py[cod]
