[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
ipython = "*"
isort = "*"
mitmproxy = "*"
mypy = "*"
pre-commit = "*"
prospector = "*"
pylint = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-docker-compose = "*"
pytest-env = "*"
pytest-instafail = "*"
pytest-mypy = "*"
pytest-pycharm = "*"
pytest-pylint = "*"
pytest-sugar = "*"
pytest-twisted = "*"
pytest-watch = "*"
pytest-xdist = "*"
radon = "*"
tox = "*"
testfixtures = "*"

[packages]
hiredis = "*"
pymongo = "*"
redis = "*"
six = "*"
ujson = "*"
Scrapy = "*"
